$pink: #f84877;
$l_pink: #ff6e7b;
$blue: #04d9d9;
$green: #bcd952;
$orange: #f27b50;
$d_grey: #3d3b3b;
$m_grey: #c6c6c6;
$l_grey: #f0f0f0;

$roboto: 'Roboto', sans-serif;


h1,h2,h3,h4,h5,h6{
	font-family: $roboto;
	font-weight: 300;
}

h1{
	font-size: 3rem;
	padding: 1rem 0 1rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 1.5rem;
}
h5{
	font-size: 1rem;
	font-weight: 500;
	line-height: 150%;
}
h6{
	font-size: 1rem;
	font-weight: 300;
	color: $m_grey;
}
p,li{
	font-family: $roboto;
	font-weight: 500;
}

*{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.shadow{
	box-shadow: rgba(0, 0, 0, 0.29) 0 3px 10px;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.transition{
	@include transition(all 0.3s ease-in-out);
}

.float-left{
	float: left;
}

.overlay{
	width: 100vw;
	height: 100vw;
	position: fixed;
	top: -50%;
	left: 0;
	visibility: hidden;
	@extend .transition;
	background: rgba(black,0.7);
	@include transform(scale(0));
	border-radius: 50%;
	z-index: 25;

	&.visible{
		visibility: visible;
		opacity: 1;
		@include transform(scale(2));
	}
}

header{
	background: $blue; /* Old browsers */
	width: 100%;
	//height: 3rem;
	position: fixed;
	z-index: 30;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0;
	@extend .transition;

	.icon-magnifying-glass:before{
		position: absolute;
		margin: 0.5rem;
		font-size: 1.5rem;
		color: $m_grey;
	}

	.search_box{
		font-size: 1.3rem;
		padding: 0.3rem 0.3rem 0.3rem 3rem;
		border: none;
		width: 40rem;
		font-family: $roboto;
		font-weight: 300;
		@extend .transition;

		&.focused{
			font-size: 1.7rem;
			padding: 0.5rem 0.5rem 0.5rem 3rem;
		}
	}

}

.search_modal{
	position: fixed;
	top: 0;
	width: 80vw;
	margin: 0 10vw;
	padding: 5rem 1rem;
	background: white;
	@include transform(translateY(-100%));
	@extend .transition;
	z-index: 29;

	&.open{
		@include transform(translateY(0%));
	}

	.searched_for{
		justify-content: center;
	}
}

.search_overlay{
	z-index: 25;
}

.sidebar{
	background: rgba($d_grey,0.9);
	border-right: solid $pink 2px;
	width: 14rem;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	padding: 4rem 0;
	@include transform(translateX(-100%));
	@extend .transition;

	&.open{
		@include transform(translateX(0%));
	}

	ul{
		li{
			font-size: 1.5rem;
			font-family: $roboto;
			color: $m_grey;
			display: block;
			padding: 1rem 2rem;
			text-align: right;
			font-weight: 300;

			&:hover{
				background: $pink;
				color: white;
			}
		}
		
		.current{
			color: white;
			background: $l_pink;
		}
	}
}

.control_bar{
	background: $d_grey;
	width: 100%;
	height: 4rem;
	position: fixed;
	bottom: 0;
	left: 0;
	@extend .transition;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	z-index: 20;

	&.pad-left{
		padding-left: 16rem;
	}

	.seek{
		width: calc(100% - 2rem);
		position: absolute;
		top: -9px;
		padding: 0 0 0 9rem;

		input[type=range] {
		  -webkit-appearance: none;
		  width: 100%;
		  margin: 7.35px 0;
		}
		input[type=range]:focus {
		  outline: none;
		}
		input[type=range]::-webkit-slider-runnable-track {
		  width: 100%;
		  height: 4.3px;
		  cursor: pointer;
		  background: #4dc1b1;
		  border-radius: 13.5px;
		  border: 0px solid rgba(1, 1, 1, 0);
		}
		input[type=range]::-webkit-slider-thumb {
		  box-shadow: 0.9px 0.9px 3.5px #000000, 0px 0px 0.9px #0d0d0d;
		  border: 3.8px solid rgba(0, 0, 0, 0);
		  height: 19px;
		  width: 19px;
		  border-radius: 25px;
		  background: #6b6cff;
		  cursor: pointer;
		  -webkit-appearance: none;
		  margin-top: -7.35px;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
		  background: #55c4b4;
		}
		input[type=range]::-moz-range-track {
		  width: 100%;
		  height: 4.3px;
		  cursor: pointer;
		  background: #4dc1b1;
		  border-radius: 13.5px;
		  border: 0px solid rgba(1, 1, 1, 0);
		}
		input[type=range]::-moz-range-thumb {
		  box-shadow: 0.9px 0.9px 3.5px #000000, 0px 0px 0.9px #0d0d0d;
		  border: 3.8px solid rgba(0, 0, 0, 0);
		  height: 19px;
		  width: 19px;
		  border-radius: 25px;
		  background: #6b6cff;
		  cursor: pointer;
		}
		input[type=range]::-ms-track {
		  width: 100%;
		  height: 4.3px;
		  cursor: pointer;
		  background: transparent;
		  border-color: transparent;
		  color: transparent;
		}
		input[type=range]::-ms-fill-lower {
		  background: #45beae;
		  border: 0px solid rgba(1, 1, 1, 0);
		  border-radius: 27px;
		}
		input[type=range]::-ms-fill-upper {
		  background: #4dc1b1;
		  border: 0px solid rgba(1, 1, 1, 0);
		  border-radius: 27px;
		}
		input[type=range]::-ms-thumb {
		  box-shadow: 0.9px 0.9px 3.5px #000000, 0px 0px 0.9px #0d0d0d;
		  border: 3.8px solid rgba(0, 0, 0, 0);
		  height: 19px;
		  width: 19px;
		  border-radius: 25px;
		  background: #6b6cff;
		  cursor: pointer;
		  height: 4.3px;
		}
		input[type=range]:focus::-ms-fill-lower {
		  background: #4dc1b1;
		}
		input[type=range]:focus::-ms-fill-upper {
		  background: #55c4b4;
		}
	}

	.now_playing{
		align-items: flex-end;
		align-self: flex-end;
		height: 0;
		width: 60%;
		margin-bottom: 1rem;

		.float-left{
			margin-left: 1rem;
			width: calc(100% - 166px - 1rem);

			h5{
				color: white;
			}	
		}

		.cover_holder{
			padding: 6px;
			//@extend .shadow;
			width: 128px;
			float: left;
			

			img{
				width: 100%;
				height: auto;
				pointer-events: none;
				display: block;
			}
		}
	}

	.controls{
		width: 40%;
		justify-content: center;
		align-items: center;
		

		.btn-control{
			font-size: 3rem;
			color: $m_grey;
			float: left;
			padding: 0 0.5rem;
			height: 2.4rem;
		}
	}

	.vol{

		margin: 0 1rem; 

		input[type=range] {
		  -webkit-appearance: none;
		  width: 100%;
		  margin: 3.95px 0;
		}
		input[type=range]:focus {
		  outline: none;
		}
		input[type=range]::-webkit-slider-runnable-track {
		  width: 100%;
		  height: 4.1px;
		  cursor: pointer;
		  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		  background: #000000;
		  border-radius: 1.3px;
		  border: 0.2px solid #010101;
		}
		input[type=range]::-webkit-slider-thumb {
		  box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
		  border: 1.8px solid rgba(255, 255, 255, 0);
		  height: 12px;
		  width: 12px;
		  border-radius: 26px;
		  background: $blue;
		  cursor: pointer;
		  -webkit-appearance: none;
		  margin-top: -4.15px;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
		  background: #050505;
		}
		input[type=range]::-moz-range-track {
		  width: 100%;
		  height: 4.1px;
		  cursor: pointer;
		  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		  background: #000000;
		  border-radius: 1.3px;
		  border: 0.2px solid #010101;
		}
		input[type=range]::-moz-range-thumb {
		  box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
		  border: 1.8px solid rgba(255, 255, 255, 0);
		  height: 12px;
		  width: 12px;
		  border-radius: 26px;
		  background: $blue;
		  cursor: pointer;
		}
		input[type=range]::-ms-track {
		  width: 100%;
		  height: 4.1px;
		  cursor: pointer;
		  background: transparent;
		  border-color: transparent;
		  color: transparent;
		}
		input[type=range]::-ms-fill-lower {
		  background: #000000;
		  border: 0.2px solid #010101;
		  border-radius: 2.6px;
		  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		}
		input[type=range]::-ms-fill-upper {
		  background: #000000;
		  border: 0.2px solid #010101;
		  border-radius: 2.6px;
		  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		}
		input[type=range]::-ms-thumb {
		  box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
		  border: 1.8px solid rgba(255, 255, 255, 0);
		  height: 12px;
		  width: 12px;
		  border-radius: 26px;
		  background: $blue;
		  cursor: pointer;
		  height: 4.1px;
		}
		input[type=range]:focus::-ms-fill-lower {
		  background: #000000;
		}
		input[type=range]:focus::-ms-fill-upper {
		  background: #050505;
		}
	}
}

.main_view{
	padding: 5rem 10vh 5rem 1rem;
	width: 100%;
	@extend .transition;

	

	&.pad-left{
		padding-left: calc(14rem + 1rem);
	}
}

.reccd{
		justify-content: flex-start;
		padding-bottom: 4rem;
	}

.album_link{
	width: 166px;
	margin: 0.5rem 1rem;
	@extend .transition;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;  
	cursor: pointer;
	padding-bottom: 0.5rem;
	@include transform(translateY(20%));
	opacity: 0;
	visibility: hidden;
	position: relative;
	z-index: 5;

	h5,h6{
		@extend .transition;
	}

	.cover_holder{
		padding: 8px;
		margin-bottom: 1rem;
		@extend .transition;

		img{
			width: 100%;
			height: auto;
			pointer-events: none;
			display: block;
		}
	}

	&.on-screen{
		@include transform(translateY(0%));
		opacity: 1;
		visibility: visible;
	}

	&:active{
		@include transform(scale(1.2));
		background: $l_grey;		
		@extend .shadow;
		z-index: 6;
		

		h5,h6{
			padding: 0 0.5rem;
		}

		.cover_holder{
			box-shadow: none;
			padding: 0;
		}
	}

	&:hover{
		h5,h6{
			text-decoration: underline;
		}
	}

	&.dragging{
		z-index: 50;
	}
}

.menu_btn{
	position: fixed;
	top: 0.5rem;
	left: 2rem;
	font-size: 2rem;
	color: white;
	z-index: 40;
}

.playlist{
	position: fixed;
	right: 0;
	top: 50%;
	height: 40vh;
	width: 40vh;
	border-radius: 50%;
	background: $d_grey;
	z-index: 20;
	@include transform(translateX(50%) translateY(-50%));
	@extend .transition;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	z-index: 40;

	&.dragging{
		right: 50%;
		align-items: center;
	}

	&.active{
		width: 80vh;
		height: 80vh;

		.playlist_item{
			font-size: 2rem;
			margin: 1rem 0;
		}
		
		.playlist_item:nth-of-type(1), .playlist_item:nth-of-type(5){
			@include transform(translateX(2vh));
		}
	}

	.playlist_item{
		@extend p;
		padding: 0.5rem 1rem;
		@extend .transition;
		border-radius: 2rem;
		background: rgba($l_pink,1);
		cursor: pointer;
		margin: 0.5rem 0;
		color: white;
		width: 100%;
		font-weight: 300;
	}
	.playlist_item:nth-of-type(1), .playlist_item:nth-of-type(5){
		@include transform(translateX(2vh));
		opacity: 0.6;
	}
	.playlist_item:nth-of-type(2), .playlist_item:nth-of-type(4){
		opacity: 0.9;
	}
	.current{
		@include transform(translateX(-3vh));
	}
}

.album_modal{
	background: $l_grey;
	position: fixed;
	z-index: 60;
	visibility: hidden;
	opacity: 0;
	@include transform(translateY(-50%) translateX(-50%));
	top: 0;
	@extend .transition;
	top: 50%;
	left: 50%;

	& > * {
		margin: 1rem 1rem;
	}

	ul{
		margin-top: 1rem;

		li{
			font-weight: 300;
			padding: 0.5rem;
			@extend .transition;
			border-radius: 2rem;
			background: rgba($l_pink,0);
			cursor: pointer;
			

			&:active{
				@extend .shadow;
				background: rgba($l_pink,1);
				color: $l_grey;
			}
		}
	}

	.modal_art{
		width: 350px;
		margin: 0;

		img{
			width: 100%;
			height: auto;
		}
	}

	&.visible{
		visibility: visible;
		opacity: 1;
	}

}


.grad_bg-1{
	@include gradient(45deg, rgba($blue,0.4), rgba($green,0.4));
}

.grad_bg-2{
	@include gradient(110deg, rgba($blue,0.4), rgba($pink,0.4));
}

.grad_bg-3{
	@include gradient(250deg, rgba($d_grey,0.4), rgba($pink,0.4));
}

.grad_bg-4{
	@include gradient(345deg, rgba($pink,0.4), rgba($orange,0.4));
}

.grad_bg-5{
	@include gradient(11deg, rgba($orange,0.4), rgba($green,0.4));

}
.grad_bg-6{
	@include gradient(8deg, rgba($pink,0.4), rgba($green,0.4));
}

.grad_bg-7{
	@include gradient(190deg, rgba($blue,0.4), rgba($orange,0.4));
}

.grad_bg-8{
	@include gradient(300deg, rgba($pink,0.5), rgba($l_pink,0.5));
}