$pink: #f84877;
$l_pink: #ff6e7b;
$blue: #04d9d9;
$green: #bcd952;
$orange: #f27b50;
$d_grey: #3d3b3b;
$m_grey: #c6c6c6;
$l_grey: #f0f0f0;

$roboto: 'Roboto', sans-serif;


h1,h2,h3,h4,h5,h6{
	font-family: $roboto;
	font-weight: 300;
}

h1{
	font-size: 3rem;
	padding: 1rem 0 1rem;
}
h5{
	font-size: 1rem;
	font-weight: 500;
	line-height: 150%;
}
h6{
	font-size: 1rem;
	font-weight: 300;
	color: $m_grey;
}


.shadow{
	box-shadow: rgba(102, 102, 102, 0.65) 0 3px 7px;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.transition{
	@include transition(all 0.3s ease-in-out);
}

header{
	background: $blue; /* Old browsers */
	background: -moz-linear-gradient(left,  $blue 0%, $green 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left,  $blue 0%,$green 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(left,  $blue 0%,$green 100%); /* IE10+ */
	background: linear-gradient(to right,  $blue 0%,$green 100%); /* W3C */
	width: 100%;
	height: 4rem;
	position: fixed;
	z-index: 20;
	align-items: center;
	justify-content: center;
	@extend .transition;

	&.pad-left{
		padding-left: 14rem;
	}

	.icon-magnifying-glass:before{
		position: absolute;
		margin: 0.5rem;
		font-size: 2rem;
		color: $m_grey;
	}

	input{
		font-size: 1.5rem;
		padding: 0.5rem 0.5rem 0.5rem 3rem;
		border: none;
		width: 40rem;
		font-family: $roboto;
		font-weight: 300;
		
	}

	.border_bottom{
		height: 4px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background: -moz-linear-gradient(right,  $blue 0%, $green 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(right,  $blue 0%,$green 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-linear-gradient(right,  $blue 0%,$green 100%); /* IE10+ */
		background: linear-gradient(to left,  $blue 0%,$green 100%); /* W3C */
	}
}

.sidebar{
	background: rgba($d_grey,0.9);
	border-right: solid $pink 2px;
	width: 14rem;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 30;
	padding: 4rem 0;
	@include transform(translateX(-100%));
	@extend .transition;

	&.open{
		@include transform(translateX(0%));
	}

	ul{
		li{
			font-size: 1.5rem;
			font-family: $roboto;
			color: $m_grey;
			display: block;
			padding: 1rem 2rem;
			text-align: right;
			font-weight: 300;

			&:hover{
				background: $pink;
				color: white;
			}
		}
		
		.current{
			color: white;
			background: $l_pink;
		}
	}
}

.control_bar{
	background: $d_grey;
	width: 100%;
	height: 4rem;
	position: fixed;
	bottom: 0;
	left: 0;
	@extend .transition;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;

	&.pad-left{
		padding-left: 16rem;
	}

	.now_playing{
		.cover_holder{
			padding: 6px;
			@extend .shadow;
			margin-bottom: 6rem;
			width: 166px;
			
			img{
				width: 100%;
				height: auto;
				pointer-events: none;
			}
		}
	}

	.controls{
		.btn-control{
			font-size: 3.5rem;
			color: $m_grey;
			float: left;
			padding: 0 1rem;
		}
	}

	.vol{
		input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 1.8px solid rgba(255, 255, 255, 0);
  height: 12px;
  width: 12px;
  border-radius: 26px;
  background: $blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.15px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #050505;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 1.8px solid rgba(255, 255, 255, 0);
  height: 12px;
  width: 12px;
  border-radius: 26px;
  background: $blue;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 1.8px solid rgba(255, 255, 255, 0);
  height: 12px;
  width: 12px;
  border-radius: 26px;
  background: $blue;
  cursor: pointer;
  height: 4.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #050505;
}

	}
}

.main_view{
	padding: 5rem 10vh 5rem 1rem;
	width: 100%;
	@extend .transition;

	.reccd{
		justify-content: flex-start;
	}

	&.pad-left{
		padding-left: calc(14rem + 1rem);
	}
}

.album_link{
	width: 200px;
	margin: 1rem;
	@extend .transition;
	-webkit-user-select: none;  /* Chrome all / Safari all */
 	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
 	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;  
	cursor: pointer;

	h5,h6{
		@extend .transition;
	}

	.cover_holder{
		padding: 10px;
		@extend .shadow;
		margin-bottom: 1rem;
		@extend .transition;

		img{
			width: 100%;
			height: auto;
			pointer-events: none;
		}
	}

	&:active{
		@include transform(scale(1.2));
		background: $l_grey;
		@extend .shadow;
		padding-bottom: 0.5rem;

		h5,h6{
			padding: 0 0.5rem;
		}

		.cover_holder{
			box-shadow: none;
			padding: 0;
		}
	}

	&:hover{
		h5,h6{
			text-decoration: underline;
		}
	}
}

.menu_btn{
	position: fixed;
	top: 1rem;
	left: 2rem;
	font-size: 2.5rem;
	color: white;
	z-index: 40;
}

.playlist{
	position: fixed;
	right: 0;
	top: 50%;
	height: 20vh;
	width: 20vh;
	border-radius: 50%;
	background: $d_grey;
	z-index: 40;
	@include transform(translateX(50%) translateY(-50%));
	@extend .transition;

	&.active{
		width: 80vh;
		height: 80vh;
	}
}


.grad_bg-1{
	@include gradient(45deg, rgba($blue,0.4), rgba($green,0.4));
}

.grad_bg-2{
	@include gradient(110deg, rgba($blue,0.4), rgba($pink,0.4));
}

.grad_bg-3{
	@include gradient(250deg, rgba($d_grey,0.4), rgba($pink,0.4));
}

.grad_bg-4{
	@include gradient(345deg, rgba($pink,0.4), rgba($orange,0.4));
}

.grad_bg-5{
	@include gradient(11deg, rgba($orange,0.4), rgba($green,0.4));

}
.grad_bg-6{
	@include gradient(8deg, rgba($pink,0.4), rgba($green,0.4));
}

.grad_bg-7{
	@include gradient(190deg, rgba($blue,0.4), rgba($orange,0.4));
}

.grad_bg-8{
	@include gradient(300deg, rgba($pink,0.5), rgba($l_pink,0.5));
}