@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fontastic.s3.amazonaws.com/kkQjw4D8m2kEbgDt8rT4nU/icons.css);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*================================
TYPOGRAPHY
=================================*/
a {
  text-decoration: none; }

img, iframe {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 3rem;
  padding: 1rem 0 1rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%; }

h6 {
  font-size: 1rem;
  font-weight: 300;
  color: #c6c6c6; }

p, li {
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

.shadow, .album_link:active {
  box-shadow: rgba(0, 0, 0, 0.29) 0 3px 10px; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.transition, .overlay, header, header .search_box, .search_modal, .sidebar, .control_bar, .main_view, .album_link, .album_link h5, .album_link h6, .album_link .cover_holder, .playlist, .album_modal {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.float-left {
  float: left; }

.overlay {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: -50%;
  left: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius: 50%;
  z-index: 25; }
  .overlay.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); }

header {
  background: #04d9d9;
  /* Old browsers */
  width: 100%;
  position: fixed;
  z-index: 30;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0; }
  header .icon-magnifying-glass:before {
    position: absolute;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: #c6c6c6; }
  header .search_box {
    font-size: 1.3rem;
    padding: 0.3rem 0.3rem 0.3rem 3rem;
    border: none;
    width: 40rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300; }
    header .search_box.focused {
      font-size: 1.7rem;
      padding: 0.5rem 0.5rem 0.5rem 3rem; }

.search_modal {
  position: fixed;
  top: 0;
  width: 80vw;
  margin: 0 10vw;
  padding: 5rem 1rem;
  background: white;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 29; }
  .search_modal.open {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }
  .search_modal .searched_for {
    justify-content: center; }

.search_overlay {
  z-index: 25; }

.sidebar {
  background: rgba(61, 59, 59, 0.9);
  border-right: solid #f84877 2px;
  width: 14rem;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 4rem 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }
  .sidebar.open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .sidebar ul li {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #c6c6c6;
    display: block;
    padding: 1rem 2rem;
    text-align: right;
    font-weight: 300; }
    .sidebar ul li:hover {
      background: #f84877;
      color: white; }
  .sidebar ul .current {
    color: white;
    background: #ff6e7b; }

.control_bar {
  background: #3d3b3b;
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 20; }
  .control_bar.pad-left {
    padding-left: 16rem; }
  .control_bar .seek {
    width: calc(100% - 2rem);
    position: absolute;
    top: -9px;
    padding: 0 0 0 9rem; }
    .control_bar .seek input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 7.35px 0; }
    .control_bar .seek input[type=range]:focus {
      outline: none; }
    .control_bar .seek input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4.3px;
      cursor: pointer;
      background: #4dc1b1;
      border-radius: 13.5px;
      border: 0px solid rgba(1, 1, 1, 0); }
    .control_bar .seek input[type=range]::-webkit-slider-thumb {
      box-shadow: 0.9px 0.9px 3.5px #000000, 0px 0px 0.9px #0d0d0d;
      border: 3.8px solid transparent;
      height: 19px;
      width: 19px;
      border-radius: 25px;
      background: #6b6cff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7.35px; }
    .control_bar .seek input[type=range]:focus::-webkit-slider-runnable-track {
      background: #55c4b4; }
    .control_bar .seek input[type=range]::-moz-range-track {
      width: 100%;
      height: 4.3px;
      cursor: pointer;
      background: #4dc1b1;
      border-radius: 13.5px;
      border: 0px solid rgba(1, 1, 1, 0); }
    .control_bar .seek input[type=range]::-moz-range-thumb {
      box-shadow: 0.9px 0.9px 3.5px #000000, 0px 0px 0.9px #0d0d0d;
      border: 3.8px solid transparent;
      height: 19px;
      width: 19px;
      border-radius: 25px;
      background: #6b6cff;
      cursor: pointer; }
    .control_bar .seek input[type=range]::-ms-track {
      width: 100%;
      height: 4.3px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .control_bar .seek input[type=range]::-ms-fill-lower {
      background: #45beae;
      border: 0px solid rgba(1, 1, 1, 0);
      border-radius: 27px; }
    .control_bar .seek input[type=range]::-ms-fill-upper {
      background: #4dc1b1;
      border: 0px solid rgba(1, 1, 1, 0);
      border-radius: 27px; }
    .control_bar .seek input[type=range]::-ms-thumb {
      box-shadow: 0.9px 0.9px 3.5px #000000, 0px 0px 0.9px #0d0d0d;
      border: 3.8px solid transparent;
      height: 19px;
      width: 19px;
      border-radius: 25px;
      background: #6b6cff;
      cursor: pointer;
      height: 4.3px; }
    .control_bar .seek input[type=range]:focus::-ms-fill-lower {
      background: #4dc1b1; }
    .control_bar .seek input[type=range]:focus::-ms-fill-upper {
      background: #55c4b4; }
  .control_bar .now_playing {
    align-items: flex-end;
    align-self: flex-end;
    height: 0;
    width: 60%;
    margin-bottom: 1rem; }
    .control_bar .now_playing .float-left {
      margin-left: 1rem;
      width: calc(100% - 166px - 1rem); }
      .control_bar .now_playing .float-left h5 {
        color: white; }
    .control_bar .now_playing .cover_holder {
      padding: 6px;
      width: 128px;
      float: left; }
      .control_bar .now_playing .cover_holder img {
        width: 100%;
        height: auto;
        pointer-events: none;
        display: block; }
  .control_bar .controls {
    width: 40%;
    justify-content: center;
    align-items: center; }
    .control_bar .controls .btn-control {
      font-size: 3rem;
      color: #c6c6c6;
      float: left;
      padding: 0 0.5rem;
      height: 2.4rem; }
  .control_bar .vol {
    margin: 0 1rem; }
    .control_bar .vol input[type=range] {
      -webkit-appearance: none;
      width: 100%;
      margin: 3.95px 0; }
    .control_bar .vol input[type=range]:focus {
      outline: none; }
    .control_bar .vol input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4.1px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      background: #000000;
      border-radius: 1.3px;
      border: 0.2px solid #010101; }
    .control_bar .vol input[type=range]::-webkit-slider-thumb {
      box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
      border: 1.8px solid rgba(255, 255, 255, 0);
      height: 12px;
      width: 12px;
      border-radius: 26px;
      background: #04d9d9;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -4.15px; }
    .control_bar .vol input[type=range]:focus::-webkit-slider-runnable-track {
      background: #050505; }
    .control_bar .vol input[type=range]::-moz-range-track {
      width: 100%;
      height: 4.1px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      background: #000000;
      border-radius: 1.3px;
      border: 0.2px solid #010101; }
    .control_bar .vol input[type=range]::-moz-range-thumb {
      box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
      border: 1.8px solid rgba(255, 255, 255, 0);
      height: 12px;
      width: 12px;
      border-radius: 26px;
      background: #04d9d9;
      cursor: pointer; }
    .control_bar .vol input[type=range]::-ms-track {
      width: 100%;
      height: 4.1px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .control_bar .vol input[type=range]::-ms-fill-lower {
      background: #000000;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }
    .control_bar .vol input[type=range]::-ms-fill-upper {
      background: #000000;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }
    .control_bar .vol input[type=range]::-ms-thumb {
      box-shadow: 1.1px 1.1px 4.1px #000000, 0px 0px 1.1px #0d0d0d;
      border: 1.8px solid rgba(255, 255, 255, 0);
      height: 12px;
      width: 12px;
      border-radius: 26px;
      background: #04d9d9;
      cursor: pointer;
      height: 4.1px; }
    .control_bar .vol input[type=range]:focus::-ms-fill-lower {
      background: #000000; }
    .control_bar .vol input[type=range]:focus::-ms-fill-upper {
      background: #050505; }

.main_view {
  padding: 5rem 10vh 5rem 1rem;
  width: 100%; }
  .main_view.pad-left {
    padding-left: calc(14rem + 1rem); }

.reccd {
  justify-content: space-between;
  padding-bottom: 4rem; }

.album_link {
  width: 166px;
  margin: 0.5rem 1rem;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-bottom: 0.5rem;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: 5; }
  .album_link .cover_holder {
    padding: 8px;
    margin-bottom: 1rem; }
    .album_link .cover_holder img {
      width: 100%;
      height: auto;
      pointer-events: none;
      display: block; }
  .album_link.on-screen {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; }
  .album_link:active {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: #f0f0f0;
    z-index: 6; }
    .album_link:active h5, .album_link:active h6 {
      padding: 0 0.5rem; }
    .album_link:active .cover_holder {
      box-shadow: none;
      padding: 0; }
  .album_link:hover h5, .album_link:hover h6 {
    text-decoration: underline; }

.menu_btn {
  position: fixed;
  top: 0.5rem;
  left: 2rem;
  font-size: 2rem;
  color: white;
  z-index: 40; }

.playlist {
  position: fixed;
  right: 0;
  top: 50%;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background: #3d3b3b;
  z-index: 20;
  -webkit-transform: translateX(50%) translateY(-50%);
  -moz-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%); }
  .playlist.active {
    width: 80vh;
    height: 80vh; }

.album_modal {
  background: #f0f0f0;
  position: fixed;
  z-index: 60;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  top: 0; }
  .album_modal .modal_art {
    left: 0; }
  .album_modal.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.grad_bg-1 {
  background-image: -moz-linear-gradient(45deg, rgba(4, 217, 217, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%);
  background-image: -webkit-linear-gradient(45deg, rgba(4, 217, 217, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%);
  background-image: linear-gradient(45deg, rgba(4, 217, 217, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%); }

.grad_bg-2 {
  background-image: -moz-linear-gradient(110deg, rgba(4, 217, 217, 0.4) 0%, rgba(248, 72, 119, 0.4) 100%);
  background-image: -webkit-linear-gradient(110deg, rgba(4, 217, 217, 0.4) 0%, rgba(248, 72, 119, 0.4) 100%);
  background-image: linear-gradient(110deg, rgba(4, 217, 217, 0.4) 0%, rgba(248, 72, 119, 0.4) 100%); }

.grad_bg-3 {
  background-image: -moz-linear-gradient(250deg, rgba(61, 59, 59, 0.4) 0%, rgba(248, 72, 119, 0.4) 100%);
  background-image: -webkit-linear-gradient(250deg, rgba(61, 59, 59, 0.4) 0%, rgba(248, 72, 119, 0.4) 100%);
  background-image: linear-gradient(250deg, rgba(61, 59, 59, 0.4) 0%, rgba(248, 72, 119, 0.4) 100%); }

.grad_bg-4 {
  background-image: -moz-linear-gradient(345deg, rgba(248, 72, 119, 0.4) 0%, rgba(242, 123, 80, 0.4) 100%);
  background-image: -webkit-linear-gradient(345deg, rgba(248, 72, 119, 0.4) 0%, rgba(242, 123, 80, 0.4) 100%);
  background-image: linear-gradient(345deg, rgba(248, 72, 119, 0.4) 0%, rgba(242, 123, 80, 0.4) 100%); }

.grad_bg-5 {
  background-image: -moz-linear-gradient(11deg, rgba(242, 123, 80, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%);
  background-image: -webkit-linear-gradient(11deg, rgba(242, 123, 80, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%);
  background-image: linear-gradient(11deg, rgba(242, 123, 80, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%); }

.grad_bg-6 {
  background-image: -moz-linear-gradient(8deg, rgba(248, 72, 119, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%);
  background-image: -webkit-linear-gradient(8deg, rgba(248, 72, 119, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%);
  background-image: linear-gradient(8deg, rgba(248, 72, 119, 0.4) 0%, rgba(188, 217, 82, 0.4) 100%); }

.grad_bg-7 {
  background-image: -moz-linear-gradient(190deg, rgba(4, 217, 217, 0.4) 0%, rgba(242, 123, 80, 0.4) 100%);
  background-image: -webkit-linear-gradient(190deg, rgba(4, 217, 217, 0.4) 0%, rgba(242, 123, 80, 0.4) 100%);
  background-image: linear-gradient(190deg, rgba(4, 217, 217, 0.4) 0%, rgba(242, 123, 80, 0.4) 100%); }

.grad_bg-8 {
  background-image: -moz-linear-gradient(300deg, rgba(248, 72, 119, 0.5) 0%, rgba(255, 110, 123, 0.5) 100%);
  background-image: -webkit-linear-gradient(300deg, rgba(248, 72, 119, 0.5) 0%, rgba(255, 110, 123, 0.5) 100%);
  background-image: linear-gradient(300deg, rgba(248, 72, 119, 0.5) 0%, rgba(255, 110, 123, 0.5) 100%); }
